body {
    width: 600px;
    border: 5px solid green;
    padding: 50px;
    margin: auto;
}
div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: white;
}

div.container {
    width: 300px;
    border: 15px solid rgb(0, 53, 0);
    padding: 5px;
    margin: 5px;
    background-color: white;
}

a.link {
    background-color: lightgreen;
    color: black;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

a.link:hover, a.link:active {
    background-color: green;
    color: white;
}

button.link {
    display: inline-block;
}

label {
    display: inline-block;
}

span {
    color: red;
}

span.magnify {
    color: unset;
    display: inline-block;
}

table {
    border: 1px solid lightgrey;
    background-color: white;
    width: auto;
}

th {
    border: 1px solid lightgrey;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

ul {
    list-style-type: none;
    float:right;
}

*.redundant {
    color: gray;
    border: 3px solid gray;
}

*.nonRedundant {
    color: black;
}

.wip {
    border: 15px solid indianred;
    opacity: 0.9;
}

/*
*:active:not(body):not(html):not(div) {
    color: red;
}
*/

#DisplayGetAll {
    overflow: auto;
    max-height: 100vh;
}