body {
    width: 600px;
    border: 5px solid green;
    padding: 50px;
    margin: auto;
}
div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: white;
}

*.redundant {
    color: gray;
    border: 3px solid gray;
}